
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'");

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: light;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
input[type="text"]:focus {
  color: none;
  border: none;
  outline: none; }
.z-depth-0 {
-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
-moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0);
}

.btn-flat {
color: #272F32;
background-color: white;
border: 1px solid gray;
text-transform: uppercase;
}

.btn {
background-color: #9DBDC6;
}
.btn-floating{
background-color: #9DBDC6;
}

.btn:hover, #add:hover{
background-color: #272F32;
}
