<div class="vegas"> 
  <div class="container" style="margin:auto; padding:20px;">
    <div class="row">
        <h1>Log in</h1>
        <form class="col s12" action="<%= session_path %>" method="POST"
            autocomplete="false">
            <div class="row">
              <div class="input field col s6">
                <input type="hidden" name="authenticity_token"
                  value="<%= form_authenticity_token %>">

                <input type="email" name="user[email]"
                  placeholder="your email address"><br/>
                <input type="password" name="user[password]"
                  placeholder="password"><br/>
                <input type="submit" value="Sign in">
              </form>
              </div>
            </div>
    </div>

    <h4>New users sign in <a href="<%= signup_path %>">here</a></h4>

  </div>

</div>
